header {
    /* Posicionamiento Fijo */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;

    padding: 1rem 2rem;
    box-sizing: border-box;
    
    background-color: var(--card-bg);
    border-bottom: 1px solid var(--border);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text);
}

header nav a {
    color: var(--text-light);
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover,
header nav a.active {
    color: var(--primary);
    text-decoration: underline;
}