header {
    /* Posicionamiento Fijo */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;

    padding: 1rem 2rem;
    box-sizing: border-box;
    
    background-color: var(--card-bg);
    border-bottom: 1px solid var(--border);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
