/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    width: 95%;
    max-width: 1080px;
    background: #6d9bc5;
    border-radius: 25px;
    padding: 20px;
}

/* Top Container */
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background: white;
    padding: 10px 20px;
    border-radius: 15px;
}

.logo-wrapper img {
    height: 60px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
    margin-top: 2px;
}
.subtitle-card{
    margin-top: 40px;
}

.button-wrapper {
    display: flex;
    gap: 10px;
}

.menu-btn {
    background: #0d3b66;
    color: white;
    padding: 15px 38px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    
}
/* Estilos al pasar el ratón */
.menu-btn:hover {
  background-color: #43729e; /* Nuevo color de fondo al pasar el ratón */
  color: white; /* Nuevo color del texto al pasar el ratón */
}
/* Flip Cards */
.paneles {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.flip-card {
    width: 24%;
    aspect-ratio: 140 / 195;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

/* Pausa la animación cuando das click */
.flip-card.paused .flip-card-inner {
    animation-play-state: paused !important;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 15px; 
    background-image: url('../assets/Imagenes/prueba.png');
    background-size: 400% 100%;
    background-repeat: no-repeat;
}

.auto-rotate-1 .flip-card-front { background-position: 0% 0%; }
.auto-rotate-2 .flip-card-front { background-position: 33.33% 0%; }
.auto-rotate-3 .flip-card-front { background-position: 66.66% 0%; }
.auto-rotate-4 .flip-card-front { background-position: 100% 0%; }

.flip-card-back {
    background: #0d3b66; 
    color: white;
    transform: rotateY(180deg);
    display: flex;
    /*padding: 1px;*/
    border-radius: 15px; 
    backface-visibility: hidden;
}

/* BACK CONTENT */
.back-content {
    display: flex;
    flex-direction: column;
}

.back-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    margin-bottom: 45px;
    padding-top: 20px;
}

.back-header i {
    margin-top: 40px;
    color: #ffd166;
    font-size: 22px;
}

.back-text {
    font-size: 15px;
    flex: 1;
    /*display: flex;*/
    align-items: center; 
    text-align: justify;
    padding: 0 15px;
}

/* Animación con pausa enfrente y atras cada 5s*/
@keyframes autoFlip {
    0% { transform: rotateY(0deg); }
    20% { transform: rotateY(180deg); }
    50% { transform: rotateY(180deg); } /* <-- Pausa atrás */
    70% { transform: rotateY(360deg); }
    100% { transform: rotateY(360deg); } /* <-- Pausa frente */
}

.auto-rotate-1 .flip-card-inner { animation: autoFlip 20s infinite linear; }
.auto-rotate-2 .flip-card-inner { animation: autoFlip 20s infinite linear; animation-delay: 1s; }
.auto-rotate-3 .flip-card-inner { animation: autoFlip 20s infinite linear; animation-delay: 2s; }
.auto-rotate-4 .flip-card-inner { animation: autoFlip 20s infinite linear; animation-delay: 3s; }

/* INFO SECTION */
.info-section {
    background: white;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-box {
    text-align: center;
}

.big-number {
    font-size: 22px;
    color: #0d3b66;
}

.num-icon i {
    font-size: 20px;
    color: #0d3b66;
}

/* Responsive */
@media (max-width: 1080px) {
    .flip-card { width: 50%; }
}

@media (max-width: 640px) {
    .paneles { flex-direction: column; }
    .flip-card { width: 100%; }
    .top-container { flex-direction: column; }
}