 body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            background-color: #f4f4f4;
            margin: 0;
        }
        .container {
            background-color: #fff;
            padding: 150px;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
            font-size: 1.1em;
        }
        .botones {
            margin-top: 30px;
        }
        .boton {
            text-decoration: none; 
            color: white;
            
            background-color: #0056b3;
            padding: 40px 70px;
            border: none;
            border-radius: 5px;
            font-size: 2em;
            cursor: pointer;
            margin: 0 10px;
        }
        .boton:hover {
            background-color: #003cff;
        }